.new
  .new-main
    = render 'devise/shared/header'
    .new-main-content
      .new-main-content-submain
        = form_for @user, url: user_registration_path, method: :post do |f|
          .new-main-content-submain-title
            アカウントを作成
          .new-main-content-submain-registration
            = f.label :name, "名前", class: 'new-main-content-submain-registration-title'
            %br/
            = f.text_field :name, class:'new-main-content-submain-registration-form'
          .new-main-content-submain-registration
            = f.label :kana, "フリガナ", class: 'new-main-content-submain-registration-title'
            %br/
            = f.text_field :kana, class:'new-main-content-submain-registration-form'
          .new-main-content-submain-registration
            = f.label :email, "Eメールアドレス", class: 'new-main-content-submain-registration-title'
            %br/
            = f.email_field :email, class:'new-main-content-submain-registration-form'
          .new-main-content-submain-registration
            = f.label :password, "パスワード", class: 'new-main-content-submain-registration-title'
            %br/
            = f.password_field :password, class:'new-main-content-submain-registration-form', placeholder: '最低６文字必要です'
            .new-main-content-submain-registration-note
              %i.fas.fa-exclamation-circle
              パスワードの長さは最低6文字です。
          .new-main-content-submain-registration
            = f.label :password_confirmation, "もう一度パスワードを入力してください", class: 'new-main-content-submain-registration-title'
            %br/
            = f.password_field :password_confirmation, class:'new-main-content-submain-registration-form'
          .new-main-content-submain-create
            = f.submit "Amazonアカウントを作成", class: "new-main-content-submain-create-button"
          .new-main-content-submain-note
            ログインすることにより、当社の
            = link_to "", class: "new-footer-down-bottom-links-link-text" do
              利用規約
            および
            = link_to "", class: "new-footer-down-bottom-links-link-text" do
              プライバシー規約
            に同意したとみなされます。
          .new-main-content-submain-footer
            .new-main-content-submain-footer-login
              すでにアカウントをお持ちですか?
              = link_to new_user_session_path, class: "new-footer-down-bottom-links-link-text" do
                ログイン
                %i.fas.fa-caret-right
  = render 'devise/shared/footer'


-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :name
-#     %br/
-#     = f.text_field :name, autofocus: true, autocomplete: "name"
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
