.footer
  .footer-main
    .footer-main-up
      .footer-main-up-first
        %ul.footer-main-up-first__ul
          %li.footer-main-up-first__ul__li#title
            Amazonについて
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              採用情報
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonについて
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              プレスリリース
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonと地球
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonのコミュニティ
              %br/
              活動
          %li.footer-main-up-first__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              AmazonGlobal
      .footer-main-up-second
        %ul.footer-main-up-second__ul
          %li.footer-main-up-second__ul__li#title
            Amazonでビジネス
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonで売る
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              フルフィルメント by Amazon
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              マケプレプライム
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonビジネスで法人販売
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazon Pay（決済サービス）
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              アソシエイト（アフィリエイト）
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonで広告掲載をする
          %li.footer-main-up-second__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonで出版
          %li.footer-main-up-second__ul__li
            %i.fas.fa-chevron-right{style: "color:#DDD"}
              = link_to "", class: "footer-main-up-fors__ul__li-text" do
                すべてのサービスを見る
      .footer-main-up-third
        %ul.footer-main-up-third__ul
          %li.footer-main-up-third__ul__li#title
            Amazonでのお支払い
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonポイント
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonギフト券
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazon Mastercard
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              クレジットカード＆保険
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              パートナーポイントプログラム
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonギフト券チャージタイプ
          %li.footer-main-up-third__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              %i.fas.fa-chevron-right{style: "color:#DDD"}
                すべての支払い方法を見る
      .footer-main-up-fors
        %ul.footer-main-up-fors__ul
          %li.footer-main-up-fors__ul__li#title
            ヘルプ＆ガイド
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              配送料と配送情報
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazon プライム
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              商品の返品・交換
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text", class: "footer-main-up-fors__ul__li-text" do
              コンテンツと端末の管理
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              Amazonアシスタント
          %li.footer-main-up-fors__ul__li
            = link_to "", class: "footer-main-up-fors__ul__li-text" do
              ヘルプ
  .footer-down
    .footer-down-main
      .footer-down-main-box
        .footer-down-main-box-amazon
          amazon
        .footer-down-main-box-language
          %select.footer-down-main-box-language-choice(name="posts")
            %option(value="JP")日本語
            %option(value="EN")英語
            %option(value="ZH")中国語
          .footer-down-main-box-language-icon
            %i.fas.fa-globe
        .footer-down-main-box-country
          .footer-down-main-box-country-icon
            = image_tag "/assets/日本.png",size:"16x12"
          .footer-down-main-box-country-title
            日本
  .footer-bottom
    .footer-bottom__ul
      %label.footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Amazon Advertising
          %br/
          %span.footer-bottom__ul__li-text
            商品の露出でお客様の関心と
            %br/
            反応を引き出す
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Audible（オーディブル）
          %br/
          %span.footer-bottom__ul__li-text
            本は、聴こう。
            %br/
            最初の1冊は無料
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          アマゾン ウェブ サービス（AWS）
          %br/
          %span.footer-bottom__ul__li-text
            クラウドコンピューティング
            %br/
            サービス
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Amazonアウトレット
          %br/
          %span.footer-bottom__ul__li-text
            訳あり商品を
            %br/
            お手頃価格で販売
    .footer-bottom__ul
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Prime Now
          %br/
          %span.footer-bottom__ul__li-text
            好きな時間が選べる
            %br/
            最短２時間で届く
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Amazonビジネス（法人購買）
          %br/
          %span.footer-bottom__ul__li-text
            請求書払い
            %br/
            法人価格・数量割引
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Book Depository
          %br/
          %span.footer-bottom__ul__li-text
            送料無料で
            %br/
            世界中にお届け
      .footer-bottom__ul__li
        = link_to "", class:"footer-bottom__ul__li-title" do
          Shopbop
          %br/
          %span.footer-bottom__ul__li-text
            世界中の厳選された
            %br/
            ファッションアイテム
  .footer-footer
    %ul.footer-footer-ul
      %li.footer-footer-ul-li
        = link_to "", class:"footer-footer-ul-li-link" do
          利用規約
      %li.footer-footer-ul-li-second
        = link_to "", class:"footer-footer-ul-li-link" do
          プライバシー規約
      %li.footer-footer-ul-li
        = link_to "", class:"footer-footer-ul-li-link" do
          パーソナライズド広告規約
    .footer-footer-offer
      © 1996-2020, Amazon.com, Inc. or its affiliates
